* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; /* Colore uniforme */
  overflow: hidden; /* Rimuove lo scroll */
}


.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5; /* Colore di sfondo */
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

p {
  color: #666;
  font-size: 18px;
}

body {
  -webkit-touch-callout: none; /* Disabilita il menu contestuale */
  -webkit-overflow-scrolling: touch; /* Scrolling fluido sugli elementi interni */
  overscroll-behavior: none; /* Rimuove lo scrolling indesiderato */
  
}

body, html {
  touch-action: none; /* Disabilita lo scroll tramite tocco */
  -ms-touch-action: none; /* Supporto per vecchi browser Microsoft */
  overscroll-behavior: none;
  -webkit-overflow-scrolling: none; /* Disabilita lo scroll inerziale su iOS */
}

